@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  color: rgba(8, 7, 7, 0.87);
  /* background-color: rgba(61, 59, 59, 0.87); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dmsans: "DM Sans", sans-serif;
  font-family: "DM Sans", sans-serif;
}
body {
  color: black;
  margin: 0;
  overflow: hidden;
}
button {
  cursor: pointer;
  font-weight: 500;
  border: none;
}
/* 
@media only screen and (max-width: 767px) {
  body {
    overflow-x: scroll;
  }
} */
