.authModalContainer {
  position: relative;
  width: 38vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.authModalContainer form {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10%;
}
.inputGroup {
  display: flex;
  justify-content: space-between;
}
.inputGroup label {
  font-size: 1.1rem;
  font-weight: 500;
}
.inputGroup input {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #000000;
  height: 30px;
  padding: 5px;
}
.closeIcon {
  position: absolute;
  left: 90%;
  top: 6%;
}
.submitBtn {
  width: 120px;
  height: 35px;
  background: #73abff;
  border-radius: 20px;
  font-weight: bold;
  align-self: center;
  font-size: 1rem;
}
.errorSpan {
  align-self: center;
  color: #ff0000;
}
.eyeIcon {
  position: absolute;
  left: 73%;
  top: 56%;
}
.errorContainer {
  height: 10px;
}

@media only screen and (max-width: 767px) {
  .authModalContainer {
    width: 80%;
    margin-top: 10px;
    z-index: 2;
  }
  .authModalContainer form {
    margin-left: 50px;
    margin-top: 30px;
    width: 100%;
    gap: 20px;
  }
  .inputGroup {
    gap: 2px;
    flex-direction: column;
  }
  .eyeIcon {
    left: 98%;
    top: 60.6%;
  }
  .closeIcon {
    left: 110%;
    top: 2%;
  }
}
