.home {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow-x: scroll;
}
.storiesContainerHome {
  margin-bottom: 10vh;
}
.categoryContainer {
  display: flex;
  gap: 10px;
  flex-direction: row;
  padding: 1rem;
}
@media only screen and (max-width: 767px) {
  .myStoriesContainer {
    display: none;
  }
  .categoryContainer {
    overflow-x: scroll;
  }
}
