.storiesContainer {
  width: 100%;
  min-height: 40vh;
  height: auto;
  padding: 0.8rem;
  position: relative;
}
.title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  margin-left: 2rem;
  /* grid-template-rows: repeat(2, 1fr); */
}
.noDataDiv {
  text-align: center;
  margin-top: 16vh;
  color: #8e8e8e;
  font-weight: bold;
  font-size: 1rem;
}
.showMoreBtn {
  background-color: #ff7373;
  color: #ffffff;
  width: 100px;
  height: 30px;
  border-radius: 0.7rem;
  font-weight: 600;
  margin-left: 45.5%;
  margin-top: 1.4rem;
}

@media only screen and (max-width: 767px) {
  .storiesContainer {
    min-height: 50vh;
  }
  .noDataDiv {
    margin-top: 35%;
  }
  .showMoreBtn {
    margin-left: 35%;
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
    margin: 1.2rem;
  }
}
