.ViewCardContainer {
  display: flex;
  gap: 10vw;
  color: white;
}
.viewStoryCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
  border-radius: 9px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.4);
  padding: 7px;
}
.progressbarContainer {
  display: flex;
  justify-content: space-between;
}
.description {
  font-size: 0.8rem;
  overflow: hidden;
}
.iconsGroup {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 2px;
}
.likeContainer {
  display: flex;
  align-items: center; /* Align items vertically */
}

.likeContainer > span {
  margin-left: 5px; /* Add space between icon and count */
}

.shareIcon {
  margin-top: 7px;
  margin-right: 4px;
}
.arrow1,
.arrow2 {
  color: #ffffff;
  margin-top: 30%;
}

@media only screen and (max-width: 767px) {
  .viewStoryCard {
    width: 100vw;
    height: 100vh;
  }
  .likeContainer {
    margin-left: 75vw;
  }
  .likeContainer > span {
    margin-left: 5px; /* Add space between icon and count */
    margin-top: 6.5px;
  }
  .arrow1,
  .arrow2 {
    display: none;
  }
}
